<% provide(:title, 'Index') %>
<script>
$(function(){
  initializePiecesTable([
    {title: 'ID', data: 'id'},
    {title: '授業名', data: 'title', filter: 'text'},
    {title: '講師', data: 'teacher', filter: 'text'},
    {title: '年度', data: 'year', filter: 'text'},
    {title: '種別', data: 'kind', filter: 'text'},
    {title: '', data: 'data', sortable: false, className: 'col-md-1',
      render: function(data) {
        return modifyStringAsDom(data, function(dom) {
          return dom.addClass('btn btn-primary btn-block').attr('target', '_blank');
        });
      }
    },
    <% if is_power_ge?(power_of(:shiketai)) %>
      {title: '', data: 'operation', sortable: false, className: 'col-md-1',
        render: function(data) {
          return modifyStringAsDom(data, function(dom) {
            return dom.addClass('btn btn-danger btn-block');
          });
        }
      },
    <% end %>
  ])
});

</script>
<div class="jumbotron">
  <h1>Repka</h1>
  <p>ぼくのかんがえたさいきょうの講義過去問管理検索システム</p>
</div>

<%= render 'pieces/management' %>

<div class="item" id="search">
  <h2>けんさくけんさくぅっ↑</h2>
  <table>
    <tbody>
      <% rows = ['授業名', '講師', '年度', '種別'].each_with_index do |row, index| %>
        <tr>
          <td class="row_name"><%= "#{row}" %></td>
          <td id="col<%= "#{index + 1}" %>_filter"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="item" id="pieces">
  <h2>一覧</h2>
  <table id="pieces_table" class="table table-striped table-bordered" data-source="<%= pieces_path(format: :json)%>">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>
